button.lesson2 {
  height: 90px;
  width: 290px;
  font-size: 28px;
  color: white;
  border: none;
  background-color: blue;
}

button.lesson2:hover {
  background-color: gray;
}

.separate {
  border: solid 1px grey;
  margin-top: 10px;
}

.move {
  margin: 2rem;
  width: 150px;
  height: 50px;
  padding: 10px 15px;
  background-color: red;
  color: #fff;
  line-height: 50px;
  text-align: center;
  border-radius: 0.5em;
  font-size: 20px;
  transition-duration: 3s;
  display: block;
}

.move:hover {
  transform: translate(900px, 0);
}

#ease {
  transition-timing-function: ease;
}

#linear {
  transition-timing-function: linear;
}
#ease-in {
  transition-timing-function: ease-in;
}
#ease-out {
  transition-timing-function: ease-out;
}
#ease-in-out {
  transition-timing-function: ease-in-out;
}

button.lesson4 {
  height: 90px;
  width: 290px;
  font-size: 28px;
  color: white;
  border: none;
  background-color: blue;

  transition-property: background-color color border-radius;
  transition-duration: 1s;

  /* 下記が上2つのショートハンド */
  /* transition: all 3s ease-in 2s; */
  transition: background-color 3s ease-in-out 1s, color 2s ease 4s,
    border-radius 4s ease-out 6s;
}

button.lesson4:hover {
  background-color: green;
  color: black;
  border-radius: 50%;
}
